/* Proprietà per la barra azzurra */
header{
    background-color:	#4076b9;
    background-image: url(../img/pattern.png);
    background-size: contain;
}
img{
    margin-top: 5%;
    height: 120px;
    width: 20%;
}

/* Proprietà della prima section */
.titolo{
    margin-bottom: 20px;
}
.note{
    font-size: x-small;
    color: gray;
    margin-top: 0;
}
.blue{
   color: #00bfff;
}
.foto-tim{
    width: 48%;
    height: auto;
}
.description-photo{
    font-size: xx-small;
}

/* Proprietà della seconda section */
.important{
    background-color: 	#fefe00;
}

/* Proprietà della sezione-tabella */
.table{
    margin-bottom: 20px;;
}
.sezione-blu{
    background-color: 	#1fa9e5;
    color: white;
}
.sezione-azzurra{
    background-color: 	#b1e5f2;
}

/* Proprietà Footer */
#testo-footer{
    color: gray;
    margin-top: 5%;
}

.immagine-testo-footer{
    background-image: url(../img/monitor.jpg);
    width: 30%;
    height: 150px;
}
.immagine-testo-footer1{
    background-image: url(../img/graph.jpg);
    width: 30%;
    height: 150px;
}
.testoimmagine{
    color: whitesmoke;
}